

// VARIABLES

$primary_font: "Avenir Next", Arial, sans-serif; // local only - need files
$secondary_font: "Avenir Next Condensed", Arial, sans-serif;
$accent_color: #007964; // green
$primary_color-light: #7fcac3;
$pink_orange: #e24e34;  
$orange: #ec9428;
$white: #f1f2f2;
$pearl: #f4f5f5;
$black: #000000;
$grey: #63686c; // dark grey
$transition: all 0.5s ease-in-out;

// PARTIALS 

@import "grid";

@mixin big-button($color_1, $color_2) {
	font-family: $secondary_font;
	color: $color_1;
	border: 2px solid $color_1;
	&:link {
		background-color: transparent;
		border-color: $color_1;
		color: $color_1;
	}
	&:hover {
		background-color: $color_1;
		border-color: $color_1;
		color: $color_2;
	}
	&:active {
		background-color: $color_1;
		border-color: $color_1;
		color: $color_2;
		box-shadow: none;
	}
	&:focus, &:active:focus {
		background-color: $color_1;
		border-color: $color_1;
		color: $color_2;
		outline: 5px auto $color_1;
	}
	&:visited {
		background-color: $color_1;
		border-color: $color_1;
	}
}

// TYPOGRAPHY 

* {
	font-family: $primary-font;
}

.accented_text {
	color: $pink_orange;
	font-weight: 500;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: $secondary_font;
}

.white_text {
	color: $white;
}



// HEADER
.navbar-default {
	background-color: #fff;
	border-color: #fff;
	min-height: 85px;
}

.navbar-brand img {
	height: 50px;
	margin-left: 2em;
}

.navbar-nav>li>a {
	padding-top: 25px;
	padding-bottom: 10px;
	padding-left: 25px;

}

.container-fluid>.navbar-collapse {
	margin-right: 2em;
}

nav {
	color: $grey;
	text-transform: uppercase;
	font-weight: 600;
}

.navbar {
	margin-bottom: 0;
}

//JUMBOTRON

.jumbotron {
	background: url(../img/landing_hero@2x.png);
	background-size: cover;
	height: 500px;
	position: relative;
	h2 {
		text-align: center;
		font-size: 36px;
		margin-top: 0px;
		font-weight: 400;
		line-height: 1.4em;
		margin-bottom: 1.7em;
	}
}



.top_banner {
	margin-top: 3em;
	margin-bottom: 2em;
	@extend h3;
	color: $grey;
	text-align: center;
	li {
	display: inline-block;
	}
}

.vertical_divider {
	border-right: 2px solid rgba(99, 104, 108, 0.2);
	margin-left: 10px;
	margin-right: 10px;
}

.hero_btn_group {
	text-align: center;
}

.hero_btn  {
	display: inline-block;

	&:nth-of-type(1) {
		margin-right: 20px;
	}
}

//BUTTONS

.btn-primary {
	@include big-button($accent_color, $white);
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0;
}

.btn-group-lg>.btn, .btn-lg {
	text-transform: uppercase;
	font-size: 16px;
	padding: 12px 24px;
	margin-right: .7em;
}


.grid-item {
	padding: 10px;
	h3 {
		padding: 15px 10px 5px 25px;
	}
	p {
		padding: 10px 25px;
	}
}

#about-block {
	background: $pink-orange;
	color: $white;
	p {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.6;
	}
}

.about-block-button {
	margin-left: 25px;
	@include big-button($white, $pink_orange);
	margin-bottom: 20px;
	margin-top: 0px;
	svg {
		width: 35px;
		margin-left: 25px;
		fill: $white;
		line {
			stroke: $white;
		}
	}
	&:hover, &:focus, &:active:focus  {
			polygon {
			fill: $pink_orange;
			}
			line {
			stroke: $pink_orange;
			}
		}
}

.discussion-block {
	background: $grey;
	color: $white;
	p {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 20px;
	}
}

.after-summit-block {
	background: $accent_color;
	text-align: center;
	p {
		color: $white;
		font-size: 20px;
		font-weight: 300;
		padding: 60px 5px;
	}
}

.logistics-block {
	background: $pearl;
	text-align: center;
	p {
		font-size: 20px;
		font-weight: 300;
		padding: 60px 5px;
	}
}

// FOOTER


