* {
  font-family: "Avenir Next", Arial, sans-serif; }

img, video {
  max-width: 100%; }

strong, .accented_text {
  color: #e24e34;
  font-weight: 500; }

h2 {
  font-size: 20px;
  margin-bottom: 30px; }

h3, .top_banner {
  font-size: 16px; }

h2, h3, .top_banner {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Avenir Next Condensed", Arial, sans-serif; }

.white_text {
  color: #f1f2f2; }

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out; }

.hashtag {
  color: #007964;
  font-weight: 600;
  text-decoration: underline; }

.vertical_divider {
  border-right: 2px solid rgba(99, 104, 108, 0.2);
  margin-left: 10px;
  margin-right: 10px; }

.bottom_divider {
  border-bottom: 1px dashed #A1A4A7; }

.generic-page, .about-page, #objectives, .after-the-summit, #attendees-page, #discussion-page, #schedule-page, #faq-page {
  padding-top: 60px;
  padding-bottom: 60px; }
  .generic-page h2, .generic-page h3, .generic-page .top_banner, .about-page h2, .about-page h3, .about-page .top_banner, #objectives h2, #objectives h3, #objectives .top_banner, .after-the-summit h2, .after-the-summit h3, .after-the-summit .top_banner, #attendees-page h2, #attendees-page h3, #attendees-page .top_banner, #discussion-page h2, #discussion-page h3, #discussion-page .top_banner, #schedule-page h2, #schedule-page h3, #schedule-page .top_banner, #faq-page h2, #faq-page h3, #faq-page .top_banner {
    color: #e24e34; }
  .generic-page p, .about-page p, #objectives p, .after-the-summit p, #attendees-page p, #discussion-page p, #schedule-page p, #faq-page p {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6; }
    .generic-page p a, .about-page p a, #objectives p a, .after-the-summit p a, #attendees-page p a, #discussion-page p a, #schedule-page p a, #faq-page p a {
      color: #007964; }

.generic-page > li {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6; }

.navbar-default {
  background-color: #fff;
  border-color: #fff;
  min-height: 85px; }

.navbar-brand img {
  height: 50px;
  margin-left: 2em; }

.navbar-nav {
  position: relative; }

.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px; }
  .navbar-nav > li > a:hover {
    color: #007964 !important; }
    .navbar-nav > li > a:hover:after {
      content: "";
      border-bottom: 1px dashed #63686c;
      position: absolute;
      margin-right: 15px;
      left: 25px;
      right: 0;
      bottom: 0px; }
  .navbar-nav > li > a:visited {
    color: #63686c; }

#active_page {
  color: #007964; }

.container-fluid > .navbar-collapse {
  margin-right: 2em; }

nav {
  color: #63686c;
  text-transform: uppercase;
  font-weight: 600; }

.navbar {
  margin-bottom: 0; }

footer {
  background: #63686c;
  color: #e8e8e8; }
  footer a {
    color: #f1f2f2; }
    footer a:hover, footer a:active, footer a:focus {
      color: #f1f2f2; }
  footer .email-sign-up {
    padding: 20px 0 40px 10px;
    margin-bottom: 25px; }
    footer .email-sign-up h2 {
      font-family: "Avenir Next", Arial, sans-serif;
      text-transform: initial;
      text-align: center;
      font-size: 32px;
      font-weight: 300;
      margin-top: 5px; }
    footer .email-sign-up h4 {
      color: #f1f2f2;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      font-family: "Avenir Next Condensed", Arial, sans-serif;
      font-weight: 500;
      margin-top: 30px;
      margin-bottom: 0; }
  footer .input-group {
    width: 50%;
    margin: 0 auto; }
  footer .input-group .form-control {
    border: 1px solid #A1A4A7; }
  footer .btn-default {
    border-radius: 0 !important;
    border: 1px solid transparent;
    height: 55px;
    background: transparent;
    position: absolute;
    padding: 0;
    right: 26px;
    color: #f1f2f2;
    font-size: 16px;
    transition: all 0.5s ease-in-out; }
    footer .btn-default:hover, footer .btn-default:active, footer .btn-default:focus {
      background: transparent;
      color: #007964;
      border-color: transparent;
      box-shadow: none; }
  footer .form-control {
    margin-top: 1em;
    height: 55px;
    border-radius: 0px !important;
    border: 1px solid #f1f2f2;
    padding: 20px 15px;
    font-size: 20px;
    border: 1px solid #A1A4A7;
    background-color: transparent;
    color: #000000;
    font-family: "Avenir Next Condensed", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: none;
    transition: all 0.5s ease-in-out; }
    footer .form-control:focus, footer .form-control:active, footer .form-control:hover {
      border-color: #A1A4A7;
      box-shadow: none; }
  footer .input-group-btn:last-child > .btn {
    margin-left: -47px; }
  footer .btn {
    transition: all 0.5s ease-in-out; }
    footer .btn:active, footer .btn:focus {
      outline: initial;
      outline-color: none;
      background-color: transparent; }
  footer .btn:active:focus, footer .btn:focus {
    outline: initial;
    background-color: transparent;
    border-color: transparent; }
  footer #right-arrow svg {
    margin-top: 5px;
    width: 36px; }
    footer #right-arrow svg:focus polygon, footer #right-arrow svg:active polygon, footer #right-arrow svg:hover polygon {
      fill: #A1A4A7; }
  footer ul {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center; }
    footer ul li {
      margin-right: 20px;
      display: inline-block; }
      footer ul li:nth-of-type(1) {
        margin-right: 20px;
        color: #A1A4A7; }
      footer ul li:nth-of-type(2) {
        margin-right: 20px; }

.grid {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 25px; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-item {
  float: left;
  height: 225px;
  width: 225px;
  margin: 15px;
  background: #f4f5f5;
  padding: 10px; }
  .grid-item h3, .grid-item .top_banner {
    padding: 15px 10px 5px 25px; }
  .grid-item p {
    padding: 10px 25px; }

.grid-item--rectangle {
  width: 480px; }

.grid-item--lg-square {
  width: 480px;
  height: 480px; }

.grid-item--sm-square {
  width: 50%;
  height: 400px;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.grid-item--portrait-rectangle {
  width: 240px;
  height: 480px; }

.grid-item--sm-rectangle {
  width: 480px;
  height: 320px;
  margin: 20px;
  background: #63686c; }

.right-margin {
  margin-left: 0px; }

.left-margin {
  margin-right: 0px; }

#about-block {
  background-size: cover;
  background-position: center center;
  background-color: #e24e34;
  background-blend-mode: overlay;
  color: #f1f2f2; }
  #about-block p {
    margin-top: 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6; }

.discussion-block {
  background: #63686c;
  color: #f1f2f2; }
  .discussion-block p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px; }

.after-summit-block {
  background: #007964;
  text-align: center; }
  .after-summit-block p {
    color: #f1f2f2;
    font-size: 20px;
    font-weight: 300;
    padding: 75px 15px; }

.logistics-block {
  background-size: cover;
  background-position: center center;
  background-color: #e8e8e8;
  background-blend-mode: overlay;
  text-align: center; }
  .logistics-block p {
    font-size: 20px;
    font-weight: 300;
    padding: 75px 15px; }
  .logistics-block strong {
    color: #e24e34; }

.twitter-block {
  background: #f4f5f5; }
  .twitter-block p {
    padding: 25px 25px 0px 25px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6; }

.jumbotron {
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 0; }
  .jumbotron p {
    text-align: center;
    font-size: 36px;
    margin-top: 0px;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1.7em; }

/*
.top_banner {
	margin-top: 3em;
	margin-bottom: 2em;
	@extend h3;
	color: $grey;
	text-align: center;
	li {
	display: inline-block;
	}
}

.hero_btn_group {
	text-align: center;
}

.hero_btn  {
	display: inline-block;

	&:nth-of-type(1) {
		margin-right: 20px;
	}
}*/
.btn-primary {
  font-family: "Avenir Next Condensed", Arial, sans-serif;
  color: #007964;
  border: 2px solid #007964;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0; }
  .btn-primary:link {
    background-color: transparent;
    border-color: #007964;
    color: #007964; }
  .btn-primary:hover {
    background-color: #007964;
    border-color: #007964;
    color: #f1f2f2; }
  .btn-primary:active {
    background-color: #007964;
    border-color: #007964;
    color: #f1f2f2;
    box-shadow: none; }
  .btn-primary:focus, .btn-primary:active:focus {
    background-color: #007964;
    border-color: #007964;
    color: #f1f2f2;
    outline: 5px auto #007964; }
  .btn-primary:visited {
    background-color: #007964;
    border-color: #007964; }

.btn-group-lg > .btn, .btn-lg {
  text-transform: uppercase;
  font-size: 16px;
  padding: 12px 24px;
  margin-right: .7em; }

.about-block-button {
  margin-left: 25px;
  font-family: "Avenir Next Condensed", Arial, sans-serif;
  color: #f1f2f2;
  border: 2px solid #f1f2f2;
  transition: all 0.5s ease-in-out;
  margin-bottom: 20px;
  margin-top: 20px; }
  .about-block-button:link {
    background-color: transparent;
    border-color: #f1f2f2;
    color: #f1f2f2; }
  .about-block-button:hover {
    background-color: #f1f2f2;
    border-color: #f1f2f2;
    color: #e24e34; }
  .about-block-button:active {
    background-color: #f1f2f2;
    border-color: #f1f2f2;
    color: #e24e34;
    box-shadow: none; }
  .about-block-button:focus, .about-block-button:active:focus {
    background-color: #f1f2f2;
    border-color: #f1f2f2;
    color: #e24e34;
    outline: 5px auto #f1f2f2; }
  .about-block-button:visited {
    background-color: #f1f2f2;
    border-color: #f1f2f2; }
  .about-block-button svg {
    width: 35px;
    margin-left: 25px;
    fill: #f1f2f2; }
    .about-block-button svg line {
      stroke: #f1f2f2; }
  .about-block-button:hover polygon, .about-block-button:focus polygon, .about-block-button:active:focus polygon {
    fill: #e24e34; }
  .about-block-button:hover line, .about-block-button:focus line, .about-block-button:active:focus line {
    stroke: #e24e34; }

.video-container {
  position: relative;
  margin: 0px 85px 40px 85px;
  background-size: cover; }

.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000; }
  .videoWrapper43 {
    padding-top: 75%; }
  .videoWrapper169 {
    padding-top: 56%; }

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  /*&:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid $color-button;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 40px solid $color-button;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  &:hover,
  &:focus {
    &:before {
      border-color: $color-button-hover;
    }
    &:after {
      border-left-color: $color-button-hover;
    }
  }*/ }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms; }

.video-caption {
  background-color: rgba(0, 121, 100, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 15px 15px 20px;
  transition: all 0.5s ease-in-out; }
  .video-caption svg {
    display: inline-block;
    width: 30px;
    margin-top: 25px;
    float: left;
    margin-right: 20px;
    transition: all 0.5s ease-in-out; }
  .video-caption p {
    overflow: hidden;
    font-size: 18px;
    font-weight: 600;
    color: #f1f2f2;
    text-transform: uppercase; }
  .video-caption:hover {
    background-color: rgba(0, 121, 100, 0.9); }

.social-feed {
  background: #e8e8e8;
  padding-top: 50px; }
  .social-feed h3, .social-feed .top_banner {
    margin-left: 85px;
    color: #e24e34; }
  .social-feed #twitter-block {
    position: relative; }
  .social-feed .user, .social-feed .timePosted {
    display: inline-block; }
    .social-feed .user span[data-scribe="element:screen_name"], .social-feed .timePosted span[data-scribe="element:screen_name"] {
      font-family: "Avenir Next Condensed", Arial, sans-serif; }
    .social-feed .user a, .social-feed .timePosted a {
      color: #A1A4A7 !important;
      font-family: "Avenir Next Condensed", Arial, sans-serif;
      font-size: 16px;
      text-transform: uppercase; }
      .social-feed .user a:hover, .social-feed .timePosted a:hover {
        text-decoration: none; }
  .social-feed svg {
    width: 20px; }
  .social-feed img, .social-feed span[data-scribe="element:verified_badge"], .social-feed span[data-scribe="element:name"] {
    position: absolute;
    left: -5000px; }

a[data-scribe="element:hashtag"] {
  color: #007964;
  font-weight: 500; }

.tweet a {
  color: #007964; }

.twitter-handle {
  margin-left: 25px; }

.resource-type {
  position: relative;
  top: -3px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  padding: 6px 12px;
  border-radius: 7px;
  color: #e24e34;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #e24e34; }

.down-arrow, .right-arrow {
  float: right;
  margin-top: 12px;
  transition: all 0.5s ease-in-out; }
  .down-arrow svg polygon, .right-arrow svg polygon {
    fill: #A1A4A7; }

.right-arrow svg {
  width: 20px; }

.down-arrow svg {
  width: 14px; }

#button-text {
  font-size: 19px;
  font-weight: 500;
  text-transform: initial; }

.pdf-button {
  background-color: #f1f2f2; }

.btn-default {
  width: 100%;
  border: 1px solid transparent;
  color: #000000;
  margin: 20px 0;
  padding: 10px 16px;
  border-radius: 5px;
  text-align: left;
  transition: all 0.5s ease-in-out; }
  .btn-default .resource-type {
    transition: all 0.5s ease-in-out; }
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    border: 1px solid transparent;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); }
    .btn-default:hover .resource-type, .btn-default:active .resource-type, .btn-default:focus .resource-type {
      color: #fff;
      background-color: #e24e34; }
  .btn-default h4 {
    display: inline-block;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px; }

.no-background-blend-mode {
  background-image: none !important; }

.top_banner {
  margin-top: 3em;
  margin-bottom: 2em;
  color: #63686c;
  text-align: center; }
  .top_banner li {
    display: inline-block; }

.hero_btn_group {
  text-align: center; }

.hero_btn {
  display: inline-block; }
  .hero_btn:nth-of-type(1) {
    margin-right: 20px; }

.callout {
  width: 300px;
  background-color: #e8e8e8;
  float: right;
  padding: 20px;
  margin: 20px; }

.infographic {
  border-bottom: 1px dashed #63686c;
  padding-bottom: 60px;
  margin-bottom: 20px; }

.infographic-section {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  height: 315px; }
  .infographic-section .graphic1, .infographic-section .graphic3 {
    width: 48%;
    position: absolute;
    bottom: 0;
    left: 0; }
  .infographic-section .caption1, .infographic-section .caption3 {
    width: 52%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: -3px; }
  .infographic-section .graphic2 {
    width: 48%;
    position: absolute;
    bottom: 0;
    right: 0; }
  .infographic-section .caption2 {
    width: 52%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: -3px; }

.caption1, .caption2, .caption3 {
  padding: 25px;
  background: #e8e8e8;
  height: 95%; }
  .caption1 h3, .caption1 .top_banner, .caption2 h3, .caption2 .top_banner, .caption3 h3, .caption3 .top_banner {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0; }
  .caption1 p, .caption2 p, .caption3 p {
    font-weight: 300;
    padding-left: 10px;
    line-height: 1.6;
    color: #63686c;
    font-size: 18px; }

.caption1 {
  height: 94%; }

.graphic1, .graphic2, .graphic3 {
  overflow: hidden;
  height: 100%;
  background-position: center center;
  background: #ff000;
  background-size: cover; }

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

#quote {
  background: #007964;
  margin-bottom: 20px; }
  #quote p {
    color: #f1f2f2;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.6;
    margin-top: 70px; }
  #quote .accented_text {
    color: #f1f2f2; }
  #quote h3, #quote .top_banner {
    color: #f1f2f2; }

.photo-placeholder {
  height: 175px;
  width: 250px;
  margin: 70px 35px 70px 70px; }

.after-the-summit {
  background: no-repeat center center;
  background-size: contain;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 40px; }

#attendees-page .bottom_divider {
  margin-top: 60px;
  margin-bottom: 20px; }
#attendees-page .accented_text {
  color: #007964; }
#attendees-page img {
  width: 100%; }
#attendees-page .graphic-caption > p {
  font-size: 18px; }
#attendees-page .grid {
  margin-bottom: 0; }
#attendees-page #blurbs {
  background: #63686c;
  padding: 30px; }
  #attendees-page #blurbs h3, #attendees-page #blurbs .top_banner {
    color: #f1f2f2; }
  #attendees-page #blurbs p {
    color: #f1f2f2;
    padding: 10px 20px 20px 0;
    font-size: 16px; }

#schedule-page .bottom_divider {
  padding-bottom: 20px; }

#schedule-summary, #faq-summary {
  padding-bottom: 50px; }

.schedule-item {
  position: relative;
  margin-top: 20px; }
  .schedule-item ul {
    padding-left: 0; }
    .schedule-item ul li {
      display: inline-block;
      color: #63686c;
      font-family: "Avenir Next Condensed", Arial, sans-serif;
      text-transform: uppercase;
      padding-left: 0; }

#discussion-page p:nth-of-type(1) {
  margin-bottom: 40px; }
#discussion-page .bottom_divider {
  margin-top: 10px;
  margin-bottom: 10px; }

.discussion-question {
  position: relative;
  margin-top: 20px; }
  .discussion-question ul {
    display: inline-block;
    padding-left: 0;
    margin-top: -5px; }
    .discussion-question ul li {
      display: inline-block;
      color: #63686c;
      font-family: "Avenir Next Condensed", Arial, sans-serif;
      text-transform: uppercase;
      padding-left: 0; }
  .discussion-question p {
    font-size: 28px !important;
    padding-bottom: 0; }
  .discussion-question #right-arrow {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    left: 0;
    right: 0;
    width: 40px; }
    .discussion-question #right-arrow polygon {
      fill: #63686c; }
    .discussion-question #right-arrow line {
      stroke: #63686c; }
    .discussion-question #right-arrow:hover polygon, .discussion-question #right-arrow:focus polygon, .discussion-question #right-arrow:active:focus polygon {
      fill: #e24e34; }

#comment-bubble {
  width: 14px;
  margin-right: 5px; }

#comments {
  background: #e8e8e8; }
  #comments #comments-container {
    margin-top: -16%;
    margin-bottom: 5em;
    background: #f1f2f2;
    border: 5px solid rgba(170, 170, 170, 0.3);
    padding-bottom: 30px;
    background-clip: padding-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding; }
  #comments .comments-header {
    padding-top: 30px;
    padding-bottom: 40px; }
    #comments .comments-header h3, #comments .comments-header .top_banner {
      color: #007964;
      font-size: 20px;
      margin-left: 20px; }
  #comments .comments-body {
    padding-bottom: 30px; }
    #comments .comments-body img {
      margin: 40px 10px 10px 10px; }
      #comments .comments-body img:nth-of-type(1) {
        margin-top: 20px; }
    #comments .comments-body h5 {
      font-family: "Avenir Next Condensed", Arial, sans-serif;
      text-transform: uppercase;
      color: #000000; }
    #comments .comments-body h5, #comments .comments-body h6 {
      font-size: 16px;
      font-weight: 600;
      margin-top: 30px;
      margin-left: 20px; }
    #comments .comments-body p {
      color: #000000;
      font-size: 16px;
      line-height: 1.6;
      margin-left: 20px; }
    #comments .comments-body textarea {
      margin: 20px 10px 10px 10px; }
    #comments .comments-body .comment-detail {
      padding-bottom: 30px; }
    #comments .comments-body .comment-border {
      padding-top: 15px;
      border-bottom: 1px solid #e8e8e8; }

.question {
  padding-top: 10px; }

.answer {
  padding-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
