//JUMBOTRON

.jumbotron {
	background-size: cover;
	height: 500px;
	position: relative;
	margin-bottom: 80px;
	p {
		text-align: center;
		font-size: 36px;
		margin-top: 0px;
		font-weight: 400;
		line-height: 1.4em;
		margin-bottom: 1.7em;
	}
}

/*
.top_banner {
	margin-top: 3em;
	margin-bottom: 2em;
	@extend h3;
	color: $grey;
	text-align: center;
	li {
	display: inline-block;
	}
}

.hero_btn_group {
	text-align: center;
}

.hero_btn  {
	display: inline-block;

	&:nth-of-type(1) {
		margin-right: 20px;
	}
}*/

//BUTTONS

.btn-primary {
	@include big-button($accent_color, $white);
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0;
}

.btn-group-lg>.btn, .btn-lg {
	text-transform: uppercase;
	font-size: 16px;
	padding: 12px 24px;
	margin-right: .7em;
}

.about-block-button {
	margin-left: 25px;
	@include big-button($white, $pink_orange);
	margin-bottom: 20px;
	margin-top: 20px;
	svg {
		width: 35px;
		margin-left: 25px;
		fill: $white;
		line {
			stroke: $white;
		}
	}
	&:hover, &:focus, &:active:focus  {
			polygon {
			fill: $pink_orange;
			}
			line {
			stroke: $pink_orange;
			}
		}
}

// VIDEO SECTION ON HOME PAGE

.video-container {
	position: relative;
	margin: 0px 85px 40px 85px;
	//width: 100%;
	//background: url(../img/video_placeholder@2x.png);
	background-size: cover;
	//height: 500px;
}

//$color-button:       #fff;
//$color-button-hover: #f00;

.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
  &43 {
    padding-top: 75%;
  } 
  &169 {
    padding-top: 56%;
  } 
}
.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  //text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  /*&:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid $color-button;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 40px solid $color-button;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  &:hover,
  &:focus {
    &:before {
      border-color: $color-button-hover;
    }
    &:after {
      border-left-color: $color-button-hover;
    }
  }*/
  .videoWrapperActive & {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
  }
}

.video-caption {
	background-color: rgba(0, 121, 100, 0.7);
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px 15px 15px 20px;
	transition: $transition;
	svg {
		display: inline-block;
		width: 30px;
		margin-top: 25px;
		float: left;
		margin-right: 20px;
		transition: $transition;
	}
	p {
		overflow: hidden;
		font-size: 18px;
		font-weight: 600;
		color: $white;
		text-transform: uppercase;
	}
	&:hover {
		background-color: rgba(0, 121, 100, 0.9);
	}
}

// TWITTER FEED

.social-feed {
	background: $light_grey;
	padding-top: 50px;
	padding-bottom: 100px;
	h3 {
		margin-left: 85px;
		color: $pink_orange;
	}

	#twitter-block {
		position: relative;
	}

	.user, .timePosted {
		display: inline-block;
		span[data-scribe="element:screen_name"] {
			font-family: $secondary_font;
		}
		a {
			color: $medium_grey !important;
			font-family: $secondary_font;
			font-size: 16px;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
		}
	}

	svg {
		width: 20px;
	}

	img, span[data-scribe="element:verified_badge"], span[data-scribe="element:name"], span[title="Verified Account"] {
		position: absolute;
		left: -5000px;
	}
}


a[data-scribe="element:hashtag"] {
	color: $accent_color;
	font-weight: 500;
}

.tweet {
	a {
	color: $accent_color;
	}
}

.twitter-handle {
	margin-left: 25px;
}


// INITIATIVES & RESOURCES BUTTONS 

.resource-type {
	position: relative;
	top: -3px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 5px;
	padding: 6px 12px;
	border-radius: 7px;
	color: $pink_orange;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid $pink_orange;
}

.down-arrow, .right-arrow {	
	float: right;
	margin-top: 12px;
	transition: $transition;
	svg {
		polygon {
			fill: $medium_grey;
		}
	}
}

.right-arrow {
	svg {
		width: 20px;
	}
}

.down-arrow {
	svg {
		width: 14px;
	}
}

#button-text {
	font-size: 19px;
	font-weight: 500;
	text-transform: initial;
}

.pdf-button {
	background-color: $white;
}


.btn-default {
	width: 100%;
	border: 1px solid transparent;
	color: $black;
	margin: 20px 0;
	padding: 10px 16px;
	border-radius: 5px;
	text-align: left;
	transition: $transition;
	.resource-type {
		transition: $transition;
	}
	&:hover, &:active, &:focus {
		border: 1px solid transparent;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
		.resource-type {
			color: #fff;
			background-color: $pink_orange;
		}
	}
	h4 {
		display: inline-block;
		font-size: 16px;
		color: $black;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

// IE FAlLBACK FOR BLEND MODE

.no-background-blend-mode  {
  background-image: none !important;
}    