// GRID

.grid {
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 25px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
	height: 225px;
	width: 225px;
	margin: 15px;
	background: $pearl;
	padding: 10px;
	h3 {
		padding: 15px 10px 5px 25px;
	}
	p {
		padding: 10px 25px;
	}

}

.grid-item--rectangle {
		width: 480px;
	}

.grid-item--lg-square {
		width: 480px;
		height: 480px;
	}

.grid-item--sm-square {
	width: 50%;
	height: 400px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.grid-item--portrait-rectangle {
		width: 240px;
		height: 480px;	
	}

.grid-item--sm-rectangle {
	width: 480px;
	height: 320px;
	margin: 20px;
	background: $grey;
}



.right-margin {
	margin-left: 0px;
}

.left-margin {
	margin-right: 0px;
}

#about-block {
	background-size: cover;
	background-position: center center;
	background-color: $pink-orange;
	background-blend-mode: overlay;
	color: $white;
	p {
		margin-top: 30px;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.6;
	}
}


.discussion-block {
	background: $grey;
	color: $white;
	p {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 20px;
	}
}

.after-summit-block {
	background: $accent_color;
	text-align: center;
	p {
		color: $white;
		font-size: 20px;
		font-weight: 300;
		padding: 75px 15px;
	}
}

.logistics-block {
	background-size: cover;
	background-position: center center;
	background-color: $light_grey;
	background-blend-mode: overlay;
	text-align: center;
	p {
		font-size: 20px;
		font-weight: 300;
		padding: 75px 15px;
	}
	strong {
		color: $pink_orange;
	}
}

.twitter-block {
	background: $pearl;
	p {
		padding: 25px 25px 0px 25px;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.6;
	}
}


