// HEADER
.navbar-default {
	background-color: #fff;
	border-color: #fff;
	min-height: 85px;
}

.navbar-brand img {
	height: 50px;
	margin-left: 2em;
}

.navbar-nav {
	position: relative;
}

.navbar-nav>li>a {
	padding-top: 32px;
	padding-bottom: 10px;
	padding-left: 25px;
	position: relative;
	&:hover {
		position: relative; 
		color: $accent_color !important;
	}
	&:after {
		content: "";
		border-bottom: 1px dashed $grey;
		position: absolute;
		margin-right: 15px;
		left: 50%;
		right: 50%;
		bottom: 0px;
		transition: left 0.5s ease, right 0.5s ease;
	}
	&:visited {
		color: $grey;
	}

}

.navbar-nav>li>a:hover:after, nav a.active:after {
	right: 0;
	left: 24px;
}

ul#menu-primary-navigation li.menu-item.current-menu-item a {
	color: $accent_color;
}

.container-fluid>.navbar-collapse {
	margin-right: 2em;
}

nav {
	color: $grey;
	text-transform: uppercase;
	font-weight: 600;
}

.navbar {
	margin-bottom: 0;
}

