// HOME PAGE

.top_banner {
	margin-top: 3em;
	margin-bottom: 2em;
	padding-left: 0;
	@extend h3;
	color: $grey;
	text-align: center;
	li {
	display: inline-block;
	}
}

.hero_btn_group {
	text-align: center;

}

.hero_btn  {
	display: inline-block;
	font-size: 20px;
	padding: 18px 32px;
	//margin-right: .7em;

	&:nth-of-type(1) {
		margin-right: 20px;
		margin-left: 20px;
	}
}


// ABOUT PAGE

.callout {
	width: 300px;
	background-color: $light_grey;
	float: right;
	padding: 20px;
	margin: 20px;
}



.infographic {
	border-bottom: 1px dashed $grey;
	padding-bottom: 60px;
	margin-bottom: 20px;
}


.infographic-section {
	width: 100%;
	position: relative;
	margin-bottom: 50px;
	height: 315px;
	.graphic1, .graphic3 {
		width: 48%;
		position: absolute;
		bottom: 0;
		left: 0;	
	}
	.caption1, .caption3 {
		width: 52%;
		position: absolute;
		bottom: 0;
		right: 0;
		margin-left: -3px;
	}

	.graphic2 {
		width: 48%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.caption2 {
		width: 52%;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-right: -3px;
	}
}

.caption1, .caption2, .caption3 {
	padding: 25px;
	background: $light_grey;
	height: 95%;
	h3 {
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 0;
	}
	p {
		font-weight: 300;
		padding-left: 10px;
		line-height: 1.6;
		color: $grey;
		font-size: 18px;
	}
}

.caption1 {
	height: 94%;
}

.graphic1, .graphic2, .graphic3 {
	//display: inline-block;
	overflow: hidden;
	height: 100%;
	background-position: center center;
	background: #ff000;
	background-size: cover;
	//margin-top: -23px;
}


.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#quote {
	background: $accent_color;
	margin-bottom: 20px;
	p {
		color: $white;
		font-weight: 300;
		font-size: 28px;
		line-height: 1.6;
		margin-top: 70px;
	}
	.accented_text {
		color: $white;
	}

	h3 {
		color: $white;
	}
}

.photo-placeholder {
	height: 175px;
	width: 250px;
	margin: 70px 35px 70px 70px;;
	
}



.after-the-summit {
	background: no-repeat center center; 
	//background: url(../img/outcomes_background@2x.jpg);
	background-size: contain;
	height: 500px;
	margin-top: 40px;
	margin-bottom: 40px;
}

// FOR ATTENDEES PAGE 

#attendees-page {

	.bottom_divider {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.accented_text {
	color: $accent_color;
	}
	img {
		width: 100%;
	}

	.graphic-caption>p {
		font-size: 18px;
	}
	.grid {
		margin-bottom: 0;
	}
	#blurbs {
		background: $grey;
		padding: 30px;
		overflow: auto;
		h3 {
			color: $white;
		}
		p {
			color: $white;
			padding: 10px 20px 20px 0;

			font-size: 16px;
		}
	}
}

#objectives {
	h3 {
		margin-bottom: 25px;
	}
	p:last-of-type {
		margin-bottom: 35px;
	}
}

// SCHEDULE PAGE 

#schedule-page {
	.bottom_divider {
		padding-bottom: 20px;
	}
}


#schedule-summary, #faq-summary {
	padding-bottom: 50px;
}

.schedule-item {
	position: relative;
	margin-top: 20px;
	ul {
		padding-left: 0;
		li {
			display: inline-block;
			color: $grey;
			font-family: $secondary_font;
			text-transform: uppercase;
			padding-left: 0;
			}
	}
}

// DISCUSSSION PAGE

#discussion-page {
	p {
		//&:nth-of-type(1) {
		//margin-bottom: 40px;
		}
	.bottom_divider {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.discussion-header {
	padding-bottom: 40px;
}

.discussion-question {
	position: relative;
	margin-top: 20px;
	a {
		color: $accent_color;
	}
	ul {
		display: inline-block;
		padding-left: 0;
		margin-top: -5px;
		li {
			display: inline-block;
			color: $grey;
			font-family: $secondary_font;
			text-transform: uppercase;
			padding-left: 0;
			}
	}
	p {
		font-size: 28px !important;
		width: 75%;
		padding-bottom: 20px;
		transition: $transition;
	}

	#right-arrow {
		position: absolute;
		right: -20%;
		bottom: 50%;
		width: 40px;
		polygon {
			transition: $transition;
			fill: $grey;
		}
		&:hover, &:focus, &:active:focus  {
			polygon {
			fill: $accent_color;
			}
		}
	}

}

#comment-bubble{
	width: 14px;
	margin-right: 5px;
}

// DISCUSSION DETAIL PAGE

#comments {
		background: $light_grey;

		#comments-container {
			margin-top: -16%;
			margin-bottom: 5em;
			background: $white;
			border: 5px solid rgba(170, 170, 170, 0.3);
			padding-bottom: 30px; 
			background-clip: padding-box;
			-webkit-background-clip: padding;
			-moz-background-clip: padding;
		}

		.comments-header {
			padding-top: 30px;
			padding-bottom: 40px;
			h3 {
				color: $accent_color;
				font-size: 20px;
				margin-left: 20px;
			}
		}

		.comments-body {
			padding-bottom: 30px;
			img {
				margin: 40px 10px 10px 10px;
				&:nth-of-type(1) {
					margin-top: 20px;
				}
			}


			h5 {
				font-family: $secondary_font;
				text-transform: uppercase;
				color: $black;
			}
			
			h5, h6 {
				font-size: 16px;
				font-weight: 600;
				margin-top: 30px;
				margin-left: 20px;
			}

			p {
				color: $black;
				font-size: 16px;
				line-height: 1.6;
				margin-left: 20px;
			}

			textarea {
				margin: 20px 10px 10px 10px;
			}

			.comment-detail {
				padding-bottom: 30px;				
			}

			.comment-border {
				padding-top: 15px;
				border-bottom: 1px solid $light_grey;
			}
		}

	}

// FAQ PAGE 

.question {
	padding-top: 10px;
}

.answer {
	padding-bottom: 20px;
}	