// TYPOGRAPHY 

* {
	font-family: $primary-font;
}

img, video {
	max-width: 100%;
}

strong, .accented_text {
	color: $pink_orange;
	font-weight: 500;
}

h2 {
	font-size: 20px;
	margin-bottom: 30px;
}


h3 {
	font-size: 16px;
}

h2, h3 {
	font-weight: 600;
	text-transform: uppercase;
	font-family: $secondary_font;
}

.white_text {
	color: $white;
}

a {
	transition: $transition;
	font-weight: 500;
}

.hashtag {
	color: $accent_color;
	font-weight: 600;
	text-decoration: underline;
}

.vertical_divider {
	border-right: 2px solid rgba(99, 104, 108, 0.2);
	margin-left: 10px;
	margin-right: 10px;
}

.bottom_divider {
	border-bottom: 1px dashed $medium_grey;
}

// BASIC HEADING AND PARAGRAPH STYLE

.generic-page, .about-page, #objectives, .after-the-summit, #attendees-page, #discussion-page, #schedule-page, #faq-page  {
	padding-top: 60px;
	padding-bottom: 60px;
	h2, h3 {
		color: $pink_orange;
	}
	p {
		color: $black;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.6;
		a {
			color: $accent_color;
		}
	}
}

/* EXCEPTION FOR "ABOUT THE SUMMIT" PAGE */

.about-page .page-summary p {
	font-size: 18px;
}

.generic-page {
	h3 {
		margin-top: 40px;
		margin-bottom: 20px;
	}
	li {
	color: $black;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.6;
	}	
	p {
		font-size: 21px;
		font-weight: 300;
		line-height: 1.8;
		margin-bottom: 15px;
	}
}

