// VARIABLES

$primary_font: "Avenir Next", Arial, sans-serif; 
$secondary_font: "Avenir Next Condensed", Arial, sans-serif;
$accent_color: #007964; // green
$primary_color-light: #7fcac3;
$pink_orange: #e24e34;  
$orange: #ec9428;
$white: #f1f2f2;
$pearl: #f4f5f5;
$black: #000000;
$grey: #63686c; // dark grey
$medium_grey: #A1A4A7;
$light_grey: #e8e8e8;
$transition: all 0.5s ease-in-out;

$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;

// MIXINS

@mixin big-button($color_1, $color_2) {
	font-family: $secondary_font;
	color: $color_1;
	border: 2px solid $color_1;
	transition: $transition;
	&:link {
		background-color: transparent;
		border-color: $color_1;
		color: $color_1;
	}
	&:hover {
		background-color: $color_1;
		border-color: $color_1;
		color: $color_2;
		fill: $color_2;
	}
	&:hover svg {
		fill: $color_2;
		left: 5px;
	}
	&:active {
		background-color: $color_1;
		border-color: $color_1;
		color: $color_2;
		box-shadow: none;
	}
	&:active svg {
		fill: $color_2;
		left: 5px;
	}
	&:focus, &:active:focus {
		background-color: $color_1;
		border-color: $color_1;
		color: $color_2;
		outline: 5px auto $color_1;
	}
	&:focus, &:active:focus svg {
		fill: $color_2;
		left: 5px;
	}
	&:visited {
		background-color: $color_1;
		border-color: $color_1;
	}
}


@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin phone {
	@media (max-width: #{$phone-width}) {
		@content;
	}
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
